
/* start zengarden */
html {
	margin: 0;
    margin-left: 2%;
    margin-right: 2%;
	}
body { 
	font: georgia, sans-serif;
	line-height: 1.88889;
	color: #555753; 
	background: #fff;
	margin: 0; 
	padding: 0;
	}
p { 
	margin-top: 0; 
	text-align: justify;
	}
h2 { 
	font: normal 1.4em georgia, sans-serif;
	letter-spacing: 1px; 
	margin-bottom: 0; 
	color:rgb(90, 47, 184);
	}
a:link { 
	font-weight: bold; 
	text-decoration: none; 
	color: #B7A5DF;
	}
a:visited { 
	font-weight: bold; 
	text-decoration: none; 
	color: #D4CDDC;
	}
a:hover, a:focus, a:active { 
	text-decoration: underline; 
	color: #9685BA;
    }
/* end zengarden */
section{
    width: 100%;
    display: inline-block;
    padding: 0px;
}
h2{
    text-align: left
}
#cardimage{
   height: 200px;
}
#logoimage{
    height: 30px;
    width: auto;
}
#carouselimage{
    height: 450px;
    width: 800px;
}
/* navigation code  */
nav { 
	font: normal 1.4em georgia, sans-serif;
	letter-spacing: 1px; 
	margin-bottom: 0; 
	color:rgb(90, 47, 184);
	}
nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
}

nav li {
    float: left;
}

nav li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

nav li a:hover {
    background-color: #111;
}
/* end navigation code */

/* start of card code */
#cardimage {
    float: left;
    height: 250px;
    width: 400px;
    margin-right: 30px;
}
#card {
    height: 300px;
    border: 2px solid grey;
    padding: 20px;
    font: georgia, sans-serif;
    color: floralwhite;
    background-color: #838383;
}

/* end of card code */

/* boxes code */
#featureboxes li {
    float: left;
    border: 2px solid black;
    margin: 10px;
    padding: 5px;
    align-content: center;
    list-style-type: none;
    background-color: #555753;
}
#icons{
    padding-left: 10px;
    height: 60px;
}
/* end boxes code */
/* Sample code for carousel */
@keyframes slidy {
0% { left: 0%; }
20% { left: 0%; }
25% { left: -100%; }
45% { left: -100%; }
50% { left: -200%; }
70% { left: -200%; }
75% { left: -300%; }
95% { left: -300%; }
100% { left: -400%; }
}
* {
  box-sizing: border-box;
}
figure { 
  margin: 0; 
  background: #eeeeee;
  font-family: sans-serif;
  font-weight: 100;
}
div#captioned-gallery { 
  width: 800px; 
  overflow: hidden; 
}
figure.slider { 
  position: relative; 
  width: 500%;
  font-size: 0; 
  animation: 30s slidy infinite; 
}
figure.slider figure { 
  width: 20%; 
  height: 400px;
  display: inline-block;  
  position: top; 
}
figure.slider img { 
    width: 100%; 
    height: auto; 
}
figure.slider figure figcaption { 
  position: absolute; 
  bottom: 0;
  background: rgba(0,0,0,0.4);
  color: #fff; 
  width: 100%;
  font-size: 2rem; 
  padding: .6rem; 
}
/* Sample code for carousel */

/* code for footer */
footer { 
    text-align: center; 
    font: normal 13px georgia, sans-serif;
	color:#ffffff;
    margin-bottom: 10px;
    padding-top: 10px;
    overflow: hidden;
    background-color: #333;
    }
footer p{
    text-align: center;
}
/* code for footer */